.container-fluid {
    display: grid;
    grid-template-columns: 50% auto;
}

.color-dark {
    background-color:#000080;
}

.color-light {
    background-color: #0085FF;
}

.col {
    padding: .4em 1.3em;
}

.header h1 {
    text-align: center;
}

.header p {
    margin-left: 25px;
}

input.txt {
    border: 0;
    padding: 1em;
    width: 80%;
    margin-bottom: 2em;
}

.todo-item {
    background: #0085FF;
    padding: .5em;
    font-weight: bold;
    cursor: pointer;
}

.list {
    background-color: #FFD100;
}

.header {
    margin-top: 50px;
}

button {
    margin-left: 5px;
    height: 50px;
    width: 50px;
    margin-bottom: 1px;
}

.edit {
    display: none;
}