<div class="container-fluid color-dark">

  <div id="list">
     <div class="header color-light">
        <h1>{{ title }}</h1>
        <p> You have {{ todoCount }} items in your list</p>
     </div>
  <div class="col">
      <input type="text" placeholder="Add Todo" 
      [(ngModel)]="newTodo" (keyup.enter)="addTodo()"
      class="txt" />

      <button type="submit" class="btn btn-primary" 
      (click)="addTodo()">
          <i class="material-icons" style="font-size: 40px;">add</i>
      </button>

      <ul>
        <li *ngFor="let todo of todos; let i = index" class="todo-item">
          <app-todo-item [todo]="todo" [index]="i" (deleting)=deleteTodo($event)></app-todo-item>
        </li>
    </ul>
  </div> 
</div>
</div>
